body{
    font-family: sans-serif;
    background-color: whitesmoke;
}

.hero_section{
    height: 680px;
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 65px;
    padding-top: 50px;

}
.logo{
    font-size: 45px;
    color: #4E47FF;
    font-weight: 700;
}
.hero_item{
    width: 70%;
}
button{
    background-color: #4E47FF;
    border: none;
    border-radius: 15px;
    color:#ffffff;
    padding: 15px 25px;
    font-size: 16px;
    
}
.hero_content{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    
}
.Second{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-between;
    margin: 100px 50px;
}
.left_content p{
    margin-top: -30px;
    font-size: 18px;
    width: 80%;
}
div p{
    color: #b1b1b5;
}

div img{
    border-radius: 30px;
}

.user_data{
    background-color: #4d47ff20;
    margin: 0 50px;
    border-radius: 30px;
    padding: 30px 0;
}

h1{
    text-align: center;
    font-size: 65px;
}
.user_details{
    display: flex;
    justify-content: space-around;
    margin-top: -50px;
    

}
.user_says_card{
    margin-top: 150px;
}
h3{
    font-size: 50px;
}
div h2{
    font-size: 60px;
    font-weight: 800;
    color: #4E47FF;
}
.user_p{
    margin-top: -50px;
}


.form_section{
    display: flex;
    margin: 200px 50px;
    align-items: center;
    justify-content: space-between;
}
.form_content h1{
    font-size: 80px;
    width: 80%;
    text-align: left;
}

#email, #name{
    padding: 25px 300px 25px 15px;
    border-radius: 10px;
    border: 1px solid rgb(165, 161, 161);
}
#message{
     padding: 25px 300px 100px 15px;
    border-radius: 15px;
    border: 1px solid rgb(165, 161, 161);
}

.form_btn{
    width: 100%;
    height: 70px;
    border-radius: 15px;
}


.card_01{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
}
.card_items{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    
}

.all_card{
    margin: 30px 65px;
}
.icon img{
    width: 25px;
}
.content_of_user p{
    color: rgba(0, 0, 0, 0.773);
    margin-top: -10px;
    margin-bottom: 20px;
    width: 80%;
    font-size: 18px;
}

.user_frofile_image{
    display: flex;
    gap: 10px;
    align-items: center;
}
.name h4{
    color: rgba(0, 0, 0, 0.485);
    font-size: 20px;
}

.optional_content{
    text-align: center;
    background-color: #ffffff;
    margin: 0 65px;
    border-radius: 20px;
    margin-top: 150px;
}
.optional{
    width: 60%;
    margin: 0 auto;
    padding: 50px;

}
.btn{
padding: 15px 30px;
}

.optinal_image{
    margin-top: 50px;
}




.logo2{
    color: #4E47FF;
    font-weight: 800;
    font-size: 80px;
}

footer ul li{
    list-style: none;
    
}

footer li a{
    text-decoration: none;
    color: #b1b1b5;
    font-size: 20px;
    
}

.footer_items{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer_section{
    text-align: center;
    width: 40%;
    margin: 100px auto;
}
.footer_content{
    background-color: #ffffff;
    padding: 20px 0;
}
.footer_content2 p{
    font-size: 18px;
}

button:hover{
    background-color: #2d28cf;
    
}
button:hover{
    cursor: pointer;
}


